{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!--- Data Table -->
<h1>Real-Time Daten Tabelle</h1>
<table>
	<caption>Energie Daten PRO380-Mod: Prüfstand Rechts vom Lift</caption>
	<thead>
		<tr>
			<td rowspan="2"></td>
			<th scope="col" rowspan="2">Spannung in [V]</th>
			<th scope="col" rowspan="2">Strom in [A]</th>
			<th scope="col" rowspan="2">Leistungsfaktor</th>
            <th scope="col" rowspan="2">Frequenz in [Hz]</th>
			<th scope="col" rowspan="2">Wirkleistung in [kW]</th>
			<th scope="col" rowspan="2">Blindleistung in [kvar]</th>
			<th scope="col" rowspan="2">Scheinleistung in [kVA]</th>
            <th scope="col" rowspan="2">Wirkenergie in [kWh]</th>
            <th scope="col" rowspan="2">Blindenergie in [kvarh]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">L1</th>
			<td id="VL1">{{ text }}</td>
			<td id="IL1">{{ text }}</td>
			<td id="PF1">{{ text }}</td>
            <td>-</td>
			<td id="p1">{{ text }}</td>
			<td id="q1">{{ text }}</td>
			<td id="s1">{{ text }}</td>
			<td id="eA1">{{ text }}</td>
			<td id="eR1">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L2</th>
			<td id="VL2">{{ text }}</td>
			<td id="IL2">{{ text }}</td>
			<td id="PF2">{{ text }}</td>
            <td>-</td>
			<td id="p2">{{ text }}</td>
			<td id="q2">{{ text }}</td>
			<td id="s2">{{ text }}</td>
			<td id="eA2">{{ text }}</td>
			<td id="eR2">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L3</th>
			<td id="VL3">{{ text }}</td>
			<td id="IL3">{{ text }}</td>
			<td id="PF3">{{ text }}</td>
            <td>-</td>
			<td id="p3">{{ text }}</td>
			<td id="q3">{{ text }}</td>
			<td id="s3">{{ text }}</td>
			<td id="eA3">{{ text }}</td>
			<td id="eR3">{{ text }}</td>
		</tr>
    		<tr>
			<th scope="row">Summe/Mittelwert</th>
			<td id="VMean">{{ text }}</td>
			<td id="IMean">{{ text }}</td>
			<td id="PFMean">{{ text }}</td>
            <td id="freq">{{ text }}</td>
			<td id="pSum">{{ text }}</td>
			<td id="qSum">{{ text }}</td>
			<td id="sSum">{{ text }}</td>
			<td id="eASum">{{ text }}</td>
			<td id="eRSum">{{ text }}</td>
		</tr>
	</tbody>
</table>
<p>
    <br>
</p>
<table>
	<caption>Energie Daten PRO380-Mod: Prüfstand in der Ecke</caption>
	<thead>
		<tr>
			<td rowspan="2"></td>
			<th scope="col" rowspan="2">Spannung in [V]</th>
			<th scope="col" rowspan="2">Strom in [A]</th>
			<th scope="col" rowspan="2">Leistungsfaktor</th>
            <th scope="col" rowspan="2">Frequenz in [Hz]</th>
			<th scope="col" rowspan="2">Wirkleistung in [kW]</th>
			<th scope="col" rowspan="2">Blindleistung in [kvar]</th>
			<th scope="col" rowspan="2">Scheinleistung in [kVA]</th>
            <th scope="col" rowspan="2">Wirkenergie in [kWh]</th>
            <th scope="col" rowspan="2">Blindenergie in [kvarh]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">L1</th>
			<td id="VL1_e">{{ text }}</td>
			<td id="IL1_e">{{ text }}</td>
			<td id="PF1_e">{{ text }}</td>
            <td>-</td>
			<td id="p1_e">{{ text }}</td>
			<td id="q1_e">{{ text }}</td>
			<td id="s1_e">{{ text }}</td>
			<td id="eA1_e">{{ text }}</td>
			<td id="eR1_e">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L2</th>
			<td id="VL2_e">{{ text }}</td>
			<td id="IL2_e">{{ text }}</td>
			<td id="PF2_e">{{ text }}</td>
            <td>-</td>
			<td id="p2_e">{{ text }}</td>
			<td id="q2_e">{{ text }}</td>
			<td id="s2_e">{{ text }}</td>
			<td id="eA2_e">{{ text }}</td>
			<td id="eR2_e">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L3</th>
			<td id="VL3_e">{{ text }}</td>
			<td id="IL3_e">{{ text }}</td>
			<td id="PF3_e">{{ text }}</td>
            <td>-</td>
			<td id="p3_e">{{ text }}</td>
			<td id="q3_e">{{ text }}</td>
			<td id="s3_e">{{ text }}</td>
			<td id="eA3_e">{{ text }}</td>
			<td id="eR3_e">{{ text }}</td>
		</tr>
    		<tr>
			<th scope="row">Summe/Mittelwert</th>
			<td id="VMean_e">{{ text }}</td>
			<td id="IMean_e">{{ text }}</td>
			<td id="PFMean_e">{{ text }}</td>
            <td id="freq_e">{{ text }}</td>
			<td id="pSum_e">{{ text }}</td>
			<td id="qSum_e">{{ text }}</td>
			<td id="sSum_e">{{ text }}</td>
			<td id="eASum_e">{{ text }}</td>
			<td id="eRSum_e">{{ text }}</td>
		</tr>
	</tbody>
</table>
<p>Datenblatt PRO380-Mod: <a href="https://ineprometering.com/pro380/">www.ineprometering.de</a>
</p>
    <script>
        var socket = new WebSocket('ws://{{ ipAddress }}:8000/ws/some_url/');
        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);
            <!-- update Pruefstand Links -->
            <!-- Phase 1 -->
            document.querySelector('#VL1').innerHTML = data.VL1;
            document.querySelector('#IL1').innerHTML = data.IL1;
            document.querySelector('#PF1').innerHTML = data.PF1;
            document.querySelector('#p1').innerHTML = data.p1;
            document.querySelector('#q1').innerHTML = data.q1;
            document.querySelector('#s1').innerHTML = data.s1;
            document.querySelector('#eA1').innerHTML = data.eA1;
            document.querySelector('#eR1').innerHTML = data.eR1;
            <!-- Phase 2 -->
            document.querySelector('#VL2').innerHTML = data.VL2;
            document.querySelector('#IL2').innerHTML = data.IL2;
            document.querySelector('#PF2').innerHTML = data.PF2;
            document.querySelector('#p2').innerHTML = data.p2;
            document.querySelector('#q2').innerHTML = data.q2;
            document.querySelector('#eA2').innerHTML = data.eA2;
            document.querySelector('#eR2').innerHTML = data.eR2;
            <!-- Phase 3 -->
            document.querySelector('#VL3').innerHTML = data.VL3;
            document.querySelector('#IL3').innerHTML = data.IL3;
            document.querySelector('#PF3').innerHTML = data.PF3;
            document.querySelector('#p3').innerHTML = data.p3;
            document.querySelector('#q3').innerHTML = data.q3;
            document.querySelector('#s3').innerHTML = data.s3;
            document.querySelector('#eA3').innerHTML = data.eA3;
            document.querySelector('#eR3').innerHTML = data.eR3;
            <!-- Sum/Mean -->
            document.querySelector('#VMean').innerHTML = data.VMean;
            document.querySelector('#IMean').innerHTML = data.IMean;
            document.querySelector('#PFMean').innerHTML = data.PFMean;
            document.querySelector('#freq').innerHTML = data.freq;
            document.querySelector('#pSum').innerHTML = data.pSum;
            document.querySelector('#qSum').innerHTML = data.qSum;
            document.querySelector('#sSum').innerHTML = data.sSum;
            document.querySelector('#eASum').innerHTML = data.eASum;
            document.querySelector('#eRSum').innerHTML = data.eRSum;

            <!-- update Pruefstand Ecke -->
            <!-- Phase 1 -->
            document.querySelector('#VL1_e').innerHTML = data.VL1_e;
            document.querySelector('#IL1_e').innerHTML = data.IL1_e;
            document.querySelector('#PF1_e').innerHTML = data.PF1_e;
            document.querySelector('#p1_e').innerHTML = data.p1_e;
            document.querySelector('#q1_e').innerHTML = data.q1_e;
            document.querySelector('#s1_e').innerHTML = data.s1_e;
            document.querySelector('#eA1_e').innerHTML = data.eA1_e;
            document.querySelector('#eR1_e').innerHTML = data.eR1_e;
            <!-- Phase 2 -->
            document.querySelector('#VL2_e').innerHTML = data.VL2_e;
            document.querySelector('#IL2_e').innerHTML = data.IL2_e;
            document.querySelector('#PF2_e').innerHTML = data.PF2_e;
            document.querySelector('#p2_e').innerHTML = data.p2_e;
            document.querySelector('#q2_e').innerHTML = data.q2_e;
            document.querySelector('#eA2_e').innerHTML = data.eA2_e;
            document.querySelector('#eR2_e').innerHTML = data.eR2_e;
            <!-- Phase 3 -->
            document.querySelector('#VL3_e').innerHTML = data.VL3_e;
            document.querySelector('#IL3_e').innerHTML = data.IL3_e;
            document.querySelector('#PF3_e').innerHTML = data.PF3_e;
            document.querySelector('#p3_e').innerHTML = data.p3_e;
            document.querySelector('#q3_e').innerHTML = data.q3_e;
            document.querySelector('#s3_e').innerHTML = data.s3_e;
            document.querySelector('#eA3_e').innerHTML = data.eA3_e;
            document.querySelector('#eR3_e').innerHTML = data.eR3_e;
            <!-- Sum/Mean -->
            document.querySelector('#VMean_e').innerHTML = data.VMean_e;
            document.querySelector('#IMean_e').innerHTML = data.IMean_e;
            document.querySelector('#PFMean_e').innerHTML = data.PFMean_e;
            document.querySelector('#freq_e').innerHTML = data.freq_e;
            document.querySelector('#pSum_e').innerHTML = data.pSum_e;
            document.querySelector('#qSum_e').innerHTML = data.qSum_e;
            document.querySelector('#sSum_e').innerHTML = data.sSum_e;
            document.querySelector('#eASum_e').innerHTML = data.eASum_e;
            document.querySelector('#eRSum_e').innerHTML = data.eRSum_e;
        }
    </script>
</body>
</html>