{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<!--- Data Table -->
<h1>Real-Time Daten Tabelle - {{ ipAddress }}</h1>
<table>
	<caption>Energie Daten PRO380-Mod</caption>
	<thead>
		<tr>
			<td rowspan="2"></td>
			<th scope="col" rowspan="2">Spannung in [V]</th>
			<th scope="col" rowspan="2">Strom in [A]</th>
			<th scope="col" rowspan="2">Leistungsfaktor</th>
            <th scope="col" rowspan="2">Frequenz in [Hz]</th>
			<th scope="col" rowspan="2">Wirkleistung in [kW]</th>
			<th scope="col" rowspan="2">Blindleistung in [kvar]</th>
			<th scope="col" rowspan="2">Scheinleistung in [kVA]</th>
            <th scope="col" rowspan="2">Wirkenergie in [kWh]</th>
            <th scope="col" rowspan="2">Blindenergie in [kvarh]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">L1</th>
			<td id="VL1">{{ text }}</td>
			<td id="IL1">{{ text }}</td>
			<td id="PF1">{{ text }}</td>
            <td>-</td>
			<td id="p1">{{ text }}</td>
			<td id="q1">{{ text }}</td>
			<td id="s1">{{ text }}</td>
			<td id="eA1">{{ text }}</td>
			<td id="eR1">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L2</th>
			<td id="VL2">{{ text }}</td>
			<td id="IL2">{{ text }}</td>
			<td id="PF2">{{ text }}</td>
            <td>-</td>
			<td id="p2">{{ text }}</td>
			<td id="q2">{{ text }}</td>
			<td id="s2">{{ text }}</td>
			<td id="eA2">{{ text }}</td>
			<td id="eR2">{{ text }}</td>
		</tr>
		<tr>
			<th scope="row">L3</th>
			<td id="VL3">{{ text }}</td>
			<td id="IL3">{{ text }}</td>
			<td id="PF3">{{ text }}</td>
            <td>-</td>
			<td id="p3">{{ text }}</td>
			<td id="q3">{{ text }}</td>
			<td id="s3">{{ text }}</td>
			<td id="eA3">{{ text }}</td>
			<td id="eR3">{{ text }}</td>
		</tr>
    		<tr>
			<th scope="row">Summe/Mittelwert</th>
			<td id="VMean">{{ text }}</td>
			<td id="IMean">{{ text }}</td>
			<td id="PFMean">{{ text }}</td>
            <td id="freq">{{ text }}</td>
			<td id="pSum">{{ text }}</td>
			<td id="qSum">{{ text }}</td>
			<td id="sSum">{{ text }}</td>
			<td id="eASum">{{ text }}</td>
			<td id="eRSum">{{ text }}</td>
		</tr>
	</tbody>
</table>
<p>Datenblatt PRO380-Mod: <a href="https://ineprometering.com/pro380/">www.ineprometering.de</a>
</p>
    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            console.log(data);
            <!-- Phase 1 -->
            document.querySelector('#VL1').innerHTML = data.VL1;
            document.querySelector('#IL1').innerHTML = data.IL1;
            document.querySelector('#PF1').innerHTML = data.PF1;
            document.querySelector('#p1').innerHTML = data.p1;
            document.querySelector('#q1').innerHTML = data.q1;
            document.querySelector('#s1').innerHTML = data.s1;
            document.querySelector('#eA1').innerHTML = data.eA1;
            document.querySelector('#eR1').innerHTML = data.eR1;
            <!-- Phase 2 -->
            document.querySelector('#VL2').innerHTML = data.VL2;
            document.querySelector('#IL2').innerHTML = data.IL2;
            document.querySelector('#PF2').innerHTML = data.PF2;
            document.querySelector('#p2').innerHTML = data.p2;
            document.querySelector('#q2').innerHTML = data.q2;
            document.querySelector('#eA2').innerHTML = data.eA2;
            document.querySelector('#eR2').innerHTML = data.eR2;
            <!-- Phase 3 -->
            document.querySelector('#VL3').innerHTML = data.VL3;
            document.querySelector('#IL3').innerHTML = data.IL3;
            document.querySelector('#PF3').innerHTML = data.PF3;
            document.querySelector('#p3').innerHTML = data.p3;
            document.querySelector('#q3').innerHTML = data.q3;
            document.querySelector('#s3').innerHTML = data.s3;
            document.querySelector('#eA3').innerHTML = data.eA3;
            document.querySelector('#eR3').innerHTML = data.eR3;
            <!-- Sum/Mean -->
            document.querySelector('#VMean').innerHTML = data.VMean;
            document.querySelector('#IMean').innerHTML = data.IMean;
            document.querySelector('#PFMean').innerHTML = data.PFMean;
            document.querySelector('#freq').innerHTML = data.freq;
            document.querySelector('#pSum').innerHTML = data.pSum;
            document.querySelector('#qSum').innerHTML = data.qSum;
            document.querySelector('#sSum').innerHTML = data.sSum;
            document.querySelector('#eASum').innerHTML = data.eASum;
            document.querySelector('#eRSum').innerHTML = data.eRSum;
        }
    </script>
</body>
</html>